body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#board {
    border-style:solid;
    border-radius: 20px;
    border-width: 20px;
    border-color:gray;
    display: flex;
    flex-wrap:wrap;
    width: 800px;
    height: 800px;
}
.box {
    background-color: black;
}
.painted {
    background-color: white;
}
.buttons {
    display:flex;
    justify-content: center;
    gap:20px;
}